<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ssmlesson.dao.DepDAO">
    <resultMap id="depMap" type="com.example.ssmlesson.pojo.Dep">
        <id column="dep_id" property="depId"></id>
        <result column="dep_name" property="depName"></result>
        <result column="dep_remark" property="depRemark"></result>
        <result column="dep_money" property="depMoney"></result>

    </resultMap>
    <insert id="insertDep">
        insert into dep(
                        dep_name,
                        dep_remark,
                        dep_money)
        values ( #{depName},
                #{depRemark},
                #{depMoney})

    </insert>

    <delete id="deleteDep">
        delete
        from dep
        where dep_id = #{depId};

    </delete>

    <update id="updateDepRemark">
        update dep
        set dep_remark= #{r}
        where dep_id = #{i};
    </update>

    <update id="updateDepMoney">
        update dep
        set dep_money= #{m}
        where dep_id = #{i};
    </update>

    <update id="updateDepartment">
        update dep
        set dep_money= #{dep.depMoney}, dep_remark=#{dep.depRemark}
        where dep_id = #{dep.depId};
    </update>

    <select id="selectDep" resultMap="depMap">
        select *
        from dep
        where dep_id = #{depId};
    </select>
    <select id="selectDepList" resultMap="depMap">
        select *
        from dep limit #{s},#{l}
    </select>

    <select id="selectCount" resultType="int">
        select count(1)
        from dep;
    </select>
    <select id="queryAllDepInfo" resultMap="depMap">
        select * from dep;
    </select>
    <select id="queryDeptNameAndId" resultType="java.util.Map">
        select dep_id id , dep_name name from dep;
    </select>


</mapper>