<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ssmlesson.dao.KqDAO">
    <resultMap id="kqMap" type="com.example.ssmlesson.pojo.Kq">
        <id column="k_id" property="kqId"></id>
        <result column="e_id" property="empId"></result>
        <result column="k_y" property="kqY"></result>
        <result column="k_m" property="kqM"></result>
        <result column="k_all" property="kqAll"></result>

    </resultMap>
    <insert id="insertKq">
        insert into kq(e_id,
                       k_y,
                       k_m,
                       k_all)
        values (#{empId},
                #{kqY},
                #{kqM},
                1)
    </insert>
    <update id="updateKqAllInt">
        update kq
        set k_all=k_all + 1
        WHERE k_id = #{id};
    </update>

    <delete id="deleteKq">
        delete
        from kq
        where k_id = #{kqId};

    </delete>


    <select id="selectKq" resultMap="kqMap">
        select *
        from kq
        where k_id = #{kqId};
    </select>
    <select id="selectKqList" resultMap="kqMap">
        select *
        from kq limit #{s},#{l}
    </select>

    <select id="selectCount" resultType="int">
        select count(1)
        from kq;
    </select>
    <select id="queryAllKqInfo" resultType="java.util.Map">
        select k.k_id kqId, e.e_name empName, k.k_y kqY, k.k_m kqM, k.k_all kqAll
        from kq k,
             emp e
        where k.e_id = e.e_id;
    </select>
    <select id="queryEmpKq" resultMap="kqMap">
        select k_id
        from kq
        where e_id = #{kq.empId}
          and k_y = #{kq.kqY}
          and k_m = #{kq.kqM};
    </select>


</mapper>