<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ssmlesson.dao.ManagerDAO">
    <resultMap id="managerMap" type="com.example.ssmlesson.pojo.Manager">
        <id column="m_id" property="managerId"></id>
        <result column="m_name" property="username"></result>
        <result column="m_psw" property="password"></result>
        <result column="m_realname" property="managerRealName"></result>

    </resultMap>

    <select id="selectManager" resultMap="managerMap">
        select *
        from manager
        where m_name = #{username}

    </select>



</mapper>