<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link type="text/css" rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="app">
    <el-container class="mainContainer">
        <el-aside class="mainAside" style="width: 195px;">
            <el-row class="tac">
                <el-col :span="12" style="width: 100%">
                    <h5>默认颜色</h5>
                    <el-menu
                            default-active="1"
                            class="el-menu-vertical-demo">
                        <el-menu-item index="1" @click="getDepartmentInfo">
                            <i class="el-icon-location"></i>
                            <span>部门管理</span>
                        </el-menu-item>
                        <el-menu-item index="2" @click="getAllPostInfo">
                            <i class="el-icon-menu"></i>
                            <span slot="title">岗位管理</span>
                        </el-menu-item>
                        <el-menu-item index="3" @click="getAllTitleInfo">
                            <i class="el-icon-document"></i>
                            <span slot="title">职称管理</span>
                        </el-menu-item>
                        <el-menu-item index="4" @click="getAllEmployeeInfo">
                            <i class="el-icon-setting"></i>
                            <span slot="title">员工信息管理</span>
                        </el-menu-item>
                        <el-menu-item index="5" @click="getAllKqInfo">
                            <i class="el-icon-setting"></i>
                            <span slot="title">考勤管理</span>
                        </el-menu-item>
                        <el-menu-item index="6 " @click="getAllSalary">
                            <i class="el-icon-setting"></i>
                            <span slot="title">工资管理</span>
                        </el-menu-item>
                    </el-menu>
                </el-col>
            </el-row>
        </el-aside>
        <el-container>
            <el-header class="mainHead">
                <el-dropdown @command="managerAddFunc" trigger="click">
                     <span class="el-dropdown-link">
                         <i class="el-icon-setting" style="margin-right: 15px;size: 50px"></i>
                         </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item icon="el-icon-plus" command="1">增加部门</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-plus" command="2">增加岗位</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-plus" command="3">增加职称</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-plus" command="4">增加员工</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-plus" command="5">增加考勤</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-plus" command="6">增加工资记录</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span style="font-size: 15px">{{managerName}}</span>
            </el-header>
            <el-main>
                <el-table
                        :data="this.tableData.slice((this.currentPage-1)*this.pageSize,this.pageSize*this.currentPage)"
                        style="width: 100%"
                        :cell-style="columnStyle"
                        :header-cell-style="{'text-align':'center'}">
                    <el-table-column type="index"></el-table-column>
                    <el-table-column v-for="(item,key) in this.tableHead" :key="key"
                                     :property="item.id"
                                     :label="item.name"
                                     width="180">
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-button size="mini" v-show="index!==5&&index!==6" type="primary"
                                       @click="tableChange(scope.row)">
                                修改
                            </el-button>
                            <el-button size="mini" type="danger" @click="tableDelete(scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>

            </el-main>
            <div class="page">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[5, 10, 20, 50]"
                        :page-size="5"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="this.tableData.length">
                </el-pagination>
            </div>
        </el-container>
    </el-container>
    <!--对话框-->
    <el-dialog
            title="部门修改"
            :visible.sync="showDept"
            width="40%"
            :before-close="closeDeptDialog">
        <el-form :model="changeDeptInfo" ref="deptRuleForm" label-width="100px">
            <el-form-item label="部门工资：" prop="depMoney">
                <el-input style="width: 150px;" v-model="changeDeptInfo.depMoney" placeholder="请输入工资"
                          oninput="value=value.replace(/[^\d.]/g,'')"></el-input>
            </el-form-item>
            <el-form-item label="部门介绍：" prop="depRemark">
                <el-input style="width:400px"
                          type="textarea"
                          :rows="2"
                          :autosize="{ minRows: 2, maxRows: 2}"
                          placeholder="请输入内容"
                          v-model="changeDeptInfo.depRemark">
                </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="departmentChange">修改</el-button>
                <el-button @click="departmentReset()">重置</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
    <el-dialog
            title="添加部门"
            :visible.sync="addDepartmentDialogShow"
            width="40%"
            :before-close="addDepartmentClose">
        <el-form :model="addDepForm" :rules="addDeptRules" ref="addDepForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="部门名称：" prop="depName">
                <el-input v-model="addDepForm.depName" placeholder="请输入部门名称" style="width: 175px"></el-input>
            </el-form-item>
            <el-form-item label="工资收入：" prop="depMoney">
                <el-input v-model="addDepForm.depMoney" oninput="value=value.replace(/[^\d.]/g,'')"
                          style="width: 150px" placeholder="请输入工资"></el-input>
            </el-form-item>
            <el-form-item label="部门介绍：" prop="depRemark">
                <el-input style="width:400px"
                          type="textarea"
                          :rows="2"
                          :autosize="{ minRows: 2, maxRows: 2}"
                          placeholder="请输入内容"
                          v-model="addDepForm.depRemark">
                </el-input>
            </el-form-item>
        </el-form>
        <el-button type="primary" @click="addDepartment('addDepForm')">添加</el-button>
    </el-dialog>
    <el-dialog
            title="岗位修改"
            :visible.sync="showPost"
            width="40%"
            :before-close="closePostDialog">
        <el-form :model="changePostInfo" ref="postRuleForm" label-width="100px">
            <el-form-item label="岗位工资：">
                <el-input style="width: 150px;" v-model="changePostInfo.postMoney" placeholder="请输入工资"
                          oninput="value=value.replace(/[^\d.]/g,'')"></el-input>
            </el-form-item>
            <el-form-item label="岗位介绍：">
                <el-input style="width:400px"
                          type="textarea"
                          :rows="2"
                          :autosize="{ minRows: 2, maxRows: 2}"
                          placeholder="请输入内容"
                          v-model="changePostInfo.postRemark">
                </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="postChange">修改</el-button>
                <el-button @click="postReset">重置</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <el-dialog
            title="添加岗位"
            :visible.sync="addPostDialogShow"
            width="40%"
            :before-close="addPostClose">
        <el-form :model="addPostForm" :rules="addPostRules" ref="addPostForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="岗位名称：" prop="postName">
                <el-input v-model="addPostForm.postName" placeholder="请输入岗位名称" style="width: 175px"></el-input>
            </el-form-item>
            <el-form-item label="部门选择：" prop="depId">
                <el-select v-model="addPostForm.depId" clearable placeholder="请选择" style="width: 225px">
                    <el-option
                            v-for="item in deptList"
                            :key="item.value"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="工资收入：" prop="postMoney">
                <el-input v-model="addPostForm.postMoney" oninput="value=value.replace(/[^\d.]/g,'')"
                          style="width: 150px" placeholder="请输入工资"></el-input>
            </el-form-item>
            <el-form-item label="岗位介绍：" prop="postRemark">
                <el-input style="width:400px"
                          type="textarea"
                          :rows="2"
                          :autosize="{ minRows: 2, maxRows: 2}"
                          placeholder="请输入内容"
                          v-model="addPostForm.postRemark">
                </el-input>
            </el-form-item>
        </el-form>
        <el-button type="primary" @click="addPost('addPostForm')">添加</el-button>
    </el-dialog>
    <el-dialog
            title="职称修改"
            :visible.sync="showTitle"
            width="40%"
            :before-close="closeTitleDialog">
        <el-form :model="changeTileInfo" ref="changeTitleForm" label-width="100px">
            <el-form-item label="部门工资：" prop="titleMoney">
                <el-input style="width: 150px;" v-model="changeTileInfo.titleMoney" placeholder="请输入工资"
                          oninput="value=value.replace(/[^\d.]/g,'')"></el-input>
            </el-form-item>
            <el-form-item label="部门介绍：" prop="titleRemark">
                <el-input style="width:400px"
                          type="textarea"
                          :rows="2"
                          :autosize="{ minRows: 2, maxRows: 2}"
                          placeholder="请输入内容"
                          v-model="changeTileInfo.titleRemark">
                </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="titleChange">修改</el-button>
                <el-button @click="titleReset">重置</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
    <el-dialog
            title="添加职称"
            :visible.sync="addTitleDialogShow"
            width="40%"
            :before-close="addTitleClose">
        <el-form :model="addTitleForm" :rules="addTitleRules" ref="addTitleForm" label-width="100px"
                 class="demo-ruleForm">
            <el-form-item label="职称名称：" prop="titleName">
                <el-input v-model="addTitleForm.titleName" placeholder="请输入职称名称" style="width: 175px"></el-input>
            </el-form-item>
            <el-form-item label="工资收入：" prop="titleMoney">
                <el-input v-model="addTitleForm.titleMoney" oninput="value=value.replace(/[^\d.]/g,'')"
                          style="width: 150px" placeholder="请输入工资"></el-input>
            </el-form-item>
            <el-form-item label="职称介绍：" prop="titleRemark">
                <el-input style="width:400px"
                          type="textarea"
                          :rows="2"
                          :autosize="{ minRows: 2, maxRows: 2}"
                          placeholder="请输入内容"
                          v-model="addTitleForm.titleRemark">
                </el-input>
            </el-form-item>
        </el-form>
        <el-button type="primary" @click="addTitle('addTitleForm')">添加</el-button>
    </el-dialog>
    <el-dialog
            title="修改员工信息"
            :visible.sync="showEmployee"
            width="40%"
            :before-close="closeEmployeeDialog">
        <el-form :model="changeEmployee" ref="changeEmployeeForm" label-width="100px">
            <el-form-item label="岗位选择：" prop="postId">
                <el-select v-model="changeEmployee.postId" clearable placeholder="请选择">
                    <el-option
                            v-for="item in postList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="职称选择：">
                <el-select v-model="changeEmployee.titleId" clearable placeholder="请选择">
                    <el-option
                            v-for="item in titleList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="员工姓名：">
                <el-input style="width: 150px;" v-model="changeEmployee.empName" placeholder="请输入员工姓名"></el-input>
            </el-form-item>
            <el-form-item label="性别选择：">
                <el-select v-model="changeEmployee.empSex" clearable placeholder="请选择">
                    <el-option
                            v-for="item in sexList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="员工年龄：">
                <el-input v-model="changeEmployee.empAge" oninput="value=value.replace(/[^0-9]/g,'')"
                          style="width: 150px" placeholder="请输入年龄"></el-input>
            </el-form-item>
            <el-form-item label="入职时间：">
                <el-date-picker
                        v-model="changeEmployee.empTime"
                        type="date"
                        placeholder="选择日期"
                        format="yyyy 年 MM 月 dd 日"
                        value-format="yyyy-MM-dd">
                </el-date-picker>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="employeeChange">修改</el-button>
                <el-button @click="employeeReset">重置</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <el-dialog
            title="添加员工信息"
            :visible.sync="showAddEmployee"
            width="40%"
            :before-close="closeAddEmployeeDialog">
        <el-form :model="addEmployee" ref="addEmployeeForm" :rules="addEmployeeRules" label-width="100px">
            <el-form-item label="岗位选择：" prop="postId">
                <el-select v-model="addEmployee.postId" clearable placeholder="请选择">
                    <el-option
                            v-for="item in postList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="职称选择：" prop="titleId">
                <el-select v-model="addEmployee.titleId" clearable placeholder="请选择">
                    <el-option
                            v-for="item in titleList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="员工姓名：" prop="empName">
                <el-input style="width: 150px;" v-model="addEmployee.empName" placeholder="请输入员工姓名"></el-input>
            </el-form-item>
            <el-form-item label="性别选择：" prop="empSex">
                <el-select v-model="addEmployee.empSex" clearable placeholder="请选择">
                    <el-option
                            v-for="item in sexList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="员工年龄：" prop="empAge">
                <el-input v-model="addEmployee.empAge" oninput="value=value.replace(/[^0-9]/g,'')"
                          style="width: 150px" placeholder="请输入年龄"></el-input>
            </el-form-item>
            <el-form-item label="入职时间：" prop="empTime">
                <el-date-picker
                        v-model="addEmployee.empTime"
                        type="date"
                        placeholder="选择日期"
                        format="yyyy 年 MM 月 dd 日"
                        value-format="yyyy-MM-dd">
                </el-date-picker>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="addEmployeeInfo('addEmployeeForm')">添加</el-button>
                <!--                <el-button @click="employeeReset">重置</el-button>-->
            </el-form-item>
        </el-form>
    </el-dialog>
    <el-dialog
            title="添加考勤信息"
            :visible.sync="addKqDialogShow"
            width="40%"
            :before-close="addKqClose">
        <el-form :model="addKqForm" :rules="addKqFormRules" ref="addKqForm" label-width="100px"
                 class="demo-ruleForm">
            <el-form-item label="员工id：" prop="empId">
                <el-input v-model="addKqForm.empId" oninput="value=value.replace(/[^0-9]/g,'')"
                          style="width: 150px" placeholder="请输入员工id"></el-input>
            </el-form-item>
            <el-form-item label="日期：" prop="kyDate">
                <el-date-picker
                        v-model="addKqForm.kyDate"
                        type="month"
                        format="yyyy 年 MM 月 "
                        value-format="yyyy-MM"
                        placeholder="选择月">
                </el-date-picker>
            </el-form-item>
        </el-form>
        <el-button type="primary" @click="adKq('addKqForm')">添加</el-button>
    </el-dialog>
    <el-dialog
            title="添加工资"
            :visible.sync="addSalaryDialogShow"
            width="40%"
            :before-close="addSalaryClose">
        <el-form :model="addSalaryForm" :rules="addSalaryFormRules" ref="addSalaryForm" label-width="100px"
                 class="demo-ruleForm">
            <el-form-item label="员工id：" prop="empId">
                <el-input v-model="addSalaryForm.empId" oninput="value=value.replace(/[^0-9]/g,'')"
                          style="width: 150px" placeholder="请输入员工id"></el-input>
            </el-form-item>
            <el-form-item label="考勤id：" prop="kqId">
                <el-input v-model="addSalaryForm.kqId" oninput="value=value.replace(/[^0-9]/g,'')"
                          style="width: 150px" placeholder="请输入考勤id"></el-input>
            </el-form-item>
        </el-form>
        <el-button type="primary" @click="addSalary('addSalaryForm')">添加</el-button>
    </el-dialog>
</div>

<!-- vue -->
<script src="js/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--axios-->
<script src="js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                url: `http://localhost:8083`,
                managerName: '啊啊',
                tableHead: [{
                    name: '时间',
                    id: 'date',
                }, {
                    name: '地点',
                    id: 'province',
                }],
                tableData: [{
                    date: '2016-05-02',
                    name: '王小虎',
                    province: '上海',
                    city: '普陀区',
                    address: '上海市普陀区金沙江路 1518 弄',
                    zip: 200333,
                    tag: '家'
                }],
                currentPage: 1,
                pageSize: 5,
                index: 1,
                showDept: false,
                changeDeptInfo: {
                    depRemark: '',
                    depMoney: 0,
                    depId: null,
                },
                changePostInfo: {
                    postRemark: '',
                    postMoney: 0,
                    postId: null,
                },
                tableRow: null,
                addDepartmentDialogShow: false,
                addDepForm: {
                    depName: '',
                    depRemark: '',
                    depMoney: null,
                },
                addDeptRules: {
                    depName: [{
                        required: true, message: '请输入部门名称', trigger: 'blur'
                    }],
                    depMoney: [{
                        required: true, message: '请输入工资', trigger: 'blur'
                    }],
                    depRemark: [{
                        required: true, message: '请输入部门介绍', trigger: 'blur'
                    }]
                },
                addPostRules: {
                    postName: [{
                        required: true, message: '请输入岗位名称', trigger: 'blur'
                    }],
                    depId: [{
                        required: true, message: '请选择部门', trigger: 'blur'
                    }],
                    postMoney: [{
                        required: true, message: '请输入工资', trigger: 'blur'
                    }],
                    postRemark: [{
                        required: true, message: '请输入部门介绍', trigger: 'blur'
                    }]
                },
                addEmployeeRules: {
                    postId: [{
                        required: true, message: '请选择岗位', trigger: 'blur'
                    }],
                    titleId: [{
                        required: true, message: '请选择职称', trigger: 'blur'
                    }],
                    empName: [{
                        required: true, message: '请输入员工姓名', trigger: 'blur'
                    }],
                    empAge: [{
                        required: true, message: '请输入员工年龄', trigger: 'blur'
                    }],
                    empSex: [{
                        required: true, message: '请选择性别', trigger: 'blur'
                    }],
                    empTime: [{
                        required: true, message: '请输入入职时间', trigger: 'blur'
                    }]
                },
                showPost: false,
                addPostDialogShow: false,
                addPostForm: {
                    postRemark: '',
                    postMoney: null,
                    postId: null,
                    postName: '',
                    depId: null,
                },
                deptList: [],
                showTitle: false,
                changeTileInfo: {
                    titleId: null,
                    titleRemark: '',
                    titleMoney: '',
                },
                addTitleDialogShow: false,
                addTitleForm: {
                    titleName: '',
                    titleMoney: '',
                    titleRemark: '',
                },
                addTitleRules: {
                    titleName: [{
                        required: true, message: '请输入职称名称', trigger: 'blur'
                    }],
                    titleMoney: [{
                        required: true, message: '请输入工资', trigger: 'blur'
                    }],
                    titleRemark: [{
                        required: true, message: '请输入职称介绍', trigger: 'blur'
                    }]
                },
                showEmployee: false,
                changeEmployee: {
                    postId: null,
                    titleId: null,
                    empName: '',
                    empSex: '',
                    empAge: null,
                    empTime: '',
                },
                postList: [],
                titleList: [],
                sexList: [{
                    value: 1,
                    label: '男'
                }, {
                    value: 2,
                    label: '女'
                }],

                showAddEmployee: false,
                addEmployee: {
                    postId: null,
                    titleId: null,
                    empName: '',
                    empSex: '',
                    empAge: null,
                    empTime: '',
                    // changeButtonStatus:true,
                },
                addKqDialogShow: false,
                addKqForm: {
                    empId: null,
                    kyDate: '',
                },
                addKqFormRules: {
                    empId: [{
                        required: true, message: '请输入员工id', trigger: 'blur'
                    }],
                    kyDate: [{
                        required: true, message: '请输入日期', trigger: 'blur'
                    }],
                },
                addSalaryDialogShow: false,
                addSalaryForm: {
                    empId: '',
                    kqId: '',
                },
                addSalaryFormRules: {
                    empId: [{
                        required: true, message: '请输入员工id', trigger: 'blur'
                    }],
                    kqId: [{
                        required: true, message: '请输入考勤id', trigger: 'blur'
                    }],
                }

            };
        },
        mounted() {
            this.getDepartmentInfo();
            // this.managerName = window.location.href.split("=")[1];
            // console.log(this.managerName)
        },
        methods: {
            pageInit() {
                this.pageSize = 5;
                this.currentPage = 1;
            },
            getDepartmentInfo(currentPage) {
                this.index = 1;
                if (!currentPage) {
                    this.pageInit();
                }
                const _this = this;
                axios({
                    url: `${_this.url}/dep/queryAllDepInfo`,
                    method: 'get'
                }).then(function (res) {
                    _this.tableData = res.data.data.dataList;
                    _this.tableHead = res.data.data.headList;
                    if (_this.tableData.length === 0) {
                        _this.$message.warning("暂无数据!");
                    }
                });
            },
            handleSizeChange(val) {
                this.pageSize = val;
            },
            handleCurrentChange(val) {
                this.currentPage = val;
            },
            columnStyle() {
                return "text-align:center;"
            },
            tableChange(row) {
                this.tableRow = row;
                if (this.index === 1) this.showDepartmentDialog(row);
                if (this.index === 2) this.showPostDialog(row);
                if (this.index === 3) this.showTitleDialog(row);
                if (this.index === 4) this.showEmployeeDialog(row);
            },
            tableDelete(row) {
                this.$confirm('此操作将永久删除, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    if (this.index === 1) this.deleteDepartment(row);
                    if (this.index === 2) this.deletePost(row);
                    if (this.index === 3) this.deleteTitle(row);
                    if (this.index === 4) this.deleteEmployee(row);
                    if (this.index === 5) this.deleteKq(row);
                    if (this.index === 6) this.deleteSalary(row);
                }).catch(() => {
                });

            },
            showDepartmentDialog(row) {
                this.changeDeptInfo.depMoney = row.depMoney;
                this.changeDeptInfo.depRemark = row.depRemark;
                this.changeDeptInfo.depId = row.depId;
                this.showDept = true;
                console.log(row);
            },
            departmentChange() {
                const _this = this;
                axios({
                    url: `${_this.url}/dep/updateDepartmentInfo`,
                    method: 'post',
                    data: _this.changeDeptInfo
                }).then(function (res) {
                    const code = res.data.code;
                    const message = res.data.msg;
                    if (code !== 1) {
                        _this.$message.success(message);
                        _this.getDepartmentInfo(_this.currentPage);
                        _this.showDept = false;
                    } else {
                        _this.$message.error(message);
                    }
                });
            },
            departmentReset() {
                this.changeDeptInfo.depMoney = this.tableRow.depMoney;
                this.changeDeptInfo.depRemark = this.tableRow.depRemark;
            },
            deleteDepartment(row) {
                console.log(row)
                const _this = this;
                axios({
                    url: `${_this.url}/dep/del?id=${row.depId}`,
                    method: 'get'
                }).then(function (res) {
                    const code = res.data.code
                    if (code !== 1) {
                        _this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                        _this.getDepartmentInfo(_this.currentPage);
                    } else {
                        _this.$message({
                            type: 'error',
                            message: '删除失败捏，有bug呢!'
                        });
                    }
                });
            },
            closeDeptDialog() {
                this.showDept = false;
            },
            managerAddFunc(command) {
                if (command === '1') this.addDepartmentDialogShow = true;
                if (command === '2') this.addPostDialog();
                if (command === '3') this.addTitleDialogShow = true;
                if (command === '4') this.addEmployeeDialog();
                if (command === '5') this.addKqDialogShow = true;
                if (command === '6') this.addSalaryDialogShow = true;
            },
            addDepartmentClose() {
                this.addDepartmentDialogShow = false;
                this.addDepForm.depMoney = null;
                this.addDepForm.depName = '';
                this.addDepForm.depRemark = '';
            },
            addDepartment(ref) {
                this.$refs[ref].validate((valid) => {
                    if (valid) {
                        const _this = this;
                        axios({
                            url: `${_this.url}/dep/add`,
                            method: 'post',
                            data: _this.addDepForm
                        }).then(function (res) {
                            const code = res.data.code;
                            if (code !== 1) {
                                _this.$message.success('添加成功!');
                                _this.getDepartmentInfo(_this.currentPage);
                                _this.addDepartmentClose();
                            } else {
                                _this.$message.error('添加失败！！');
                            }
                        })
                    } else {
                        return false;
                    }
                });
            },
            getAllPostInfo(currentPage) {
                this.index = 2;
                if (!currentPage) {
                    this.pageInit();
                }
                const _this = this;
                axios({
                    url: `${_this.url}/post/queryAllPostInfo`,
                    method: 'get'
                }).then(function (res) {
                    _this.tableData = res.data.data.dataList;
                    _this.tableHead = res.data.data.headList;
                    if (_this.tableData.length === 0) {
                        _this.$message.warning("暂无数据!");
                    }
                });
            },
            postReset() {
                this.changePostInfo.postMoney = this.tableRow.postMoney;
                this.changePostInfo.postRemark = this.tableRow.postRemark;
            },
            showPostDialog(row) {
                this.changePostInfo.postMoney = row.postMoney;
                this.changePostInfo.postRemark = row.postRemark;
                this.changePostInfo.postId = row.postId;
                this.showPost = true;
            },
            postChange() {
                const _this = this;
                axios({
                    url: `${_this.url}/post/updatePostInfo`,
                    method: 'post',
                    data: _this.changePostInfo
                }).then(function (res) {
                    const code = res.data.code;
                    if (code !== 1) {
                        _this.$message.success(res.data.msg);
                        _this.getAllPostInfo(_this.currentPage);
                        _this.showPost = false;
                    } else {
                        _this.$message.error('修改失败!');
                    }
                });
            },
            closePostDialog() {
                this.showPost = false;
            },
            deletePost(row) {
                const _this = this;
                axios({
                    url: `${_this.url}/post/del?id=${row.postId}`,
                    method: 'get'
                }).then(function (res) {
                    const code = res.data.code
                    if (code !== 1) {
                        _this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                        _this.getAllPostInfo(_this.currentPage);
                    } else {
                        _this.$message({
                            type: 'error',
                            message: '删除失败捏，有bug呢!'
                        });
                    }
                });
            },
            addPostClose() {
                this.addPostDialogShow = false;
                this.addPostForm.postMoney = null;
                this.addPostForm.postName = '';
                this.addPostForm.postRemark = '';
                this.addPostForm.depId = null;
            },
            addPostDialog() {
                const _this = this;
                _this.addPostDialogShow = true;
                axios({
                    url: `${_this.url}/dep/queryAllDeptNameAndId`,
                    method: 'get'
                }).then(function (res) {
                    const code = res.data.code;
                    if (code != 1) {
                        _this.deptList = res.data.data;
                        _this.addPostDialogShow = true;
                    } else {
                        _this.$message.error(res.data.msg);
                    }
                });
            },
            addPost(ref) {
                this.$refs[ref].validate((valid) => {
                    if (valid) {
                        const _this = this;
                        axios({
                            url: `${_this.url}/post/add`,
                            method: 'post',
                            data: _this.addPostForm,
                        }).then(function (res) {
                            const code = res.data.code;
                            if (code !== 1) {
                                _this.$message.success("添加成功!");
                                _this.getAllPostInfo(_this.currentPage);
                                _this.addPostClose();
                            } else {
                                _this.$message.error("添加失败捏 好像有bUG");
                            }
                        });
                    } else {
                        return false;
                    }
                });
            },
            getAllTitleInfo(currentPage) {
                this.index = 3;
                if (!currentPage) {
                    this.pageInit();
                }
                const _this = this;
                axios({
                    url: `${_this.url}/title/queryAllTitleInfo`,
                    method: 'get'
                }).then(function (res) {
                    _this.tableData = res.data.data.dataList;
                    _this.tableHead = res.data.data.headList;
                    if (_this.tableData.length === 0) {
                        _this.$message.warning("暂无数据!");
                    }
                });
            },
            showTitleDialog(row) {
                this.changeTileInfo.titleMoney = row.titleMoney;
                this.changeTileInfo.titleRemark = row.titleRemark;
                this.changeTileInfo.titleId = row.titleId;
                this.showTitle = true;
            },
            closeTitleDialog() {
                this.showTitle = false;
            },
            titleReset() {
                this.changeTileInfo.titleMoney = this.tableRow.titleMoney;
                this.changeTileInfo.titleRemark = this.tableRow.titleRemark;
            },
            titleChange() {
                const _this = this;
                axios({
                    url: `${_this.url}/title/updateTitleInfo`,
                    method: 'post',
                    data: _this.changeTileInfo
                }).then(function (res) {
                    const code = res.data.code;
                    if (code !== 1) {
                        _this.$message.success(res.data.msg);
                        _this.getAllTitleInfo(_this.currentPage);
                        _this.showTitle = false;
                    } else {
                        _this.$message.error('修改失败!');
                    }
                });
            },
            deleteTitle(row) {
                const _this = this;
                axios({
                    url: `${_this.url}/title/del?id=${row.titleId}`,
                    method: 'get'
                }).then(function (res) {
                    const code = res.data.code
                    if (code !== 1) {
                        _this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                        _this.getAllTitleInfo(_this.currentPage);
                    } else {
                        _this.$message({
                            type: 'error',
                            message: '删除失败捏，有bug呢!'
                        });
                    }
                });
            },
            addTitleClose() {
                this.addTitleDialogShow = false;
                this.addTitleForm.titleMoney = null;
                this.addTitleForm.titleName = '';
                this.addTitleForm.titleRemark = '';
            },
            addTitle(ref) {
                this.$refs[ref].validate((valid) => {
                    if (valid) {
                        const _this = this;
                        axios({
                            url: `${_this.url}/title/add`,
                            method: 'post',
                            data: _this.addTitleForm,
                        }).then(function (res) {
                            const code = res.data.code;
                            if (code !== 1) {
                                _this.$message.success("添加成功!");
                                _this.getAllTitleInfo(_this.currentPage);
                                _this.addTitleClose();
                            } else {
                                _this.$message.error("添加失败捏 好像有bUG");
                            }
                        });
                    } else {
                        return false;
                    }
                });
            },
            getAllEmployeeInfo(currentPage) {
                this.index = 4;
                if (!currentPage) {
                    this.pageInit();
                }
                const _this = this;
                axios({
                    url: `${_this.url}/emp/queryAllEmpInfo`,
                    method: 'get'
                }).then(function (res) {
                    _this.tableData = res.data.data.dataList;
                    _this.tableHead = res.data.data.headList;
                    if (_this.tableData.length === 0) {
                        _this.$message.warning("暂无数据!");
                    }
                });
            },
            deleteEmployee(row) {
                const _this = this;
                axios({
                    url: `${_this.url}/emp/del?id=${row.empId}`,
                    method: 'get'
                }).then(function (res) {
                    const code = res.data.code
                    if (code !== 1) {
                        _this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                        _this.getAllEmployeeInfo(_this.currentPage);
                    } else {
                        _this.$message({
                            type: 'error',
                            message: '删除失败捏，有bug呢!'
                        });
                    }
                });
            },
            showEmployeeDialog(row) {
                this.changeEmployee.empName = row.empName;
                if (row.empSex === '男')
                    this.changeEmployee.empSex = 1;
                else this.changeEmployee.empSex = 2;
                this.changeEmployee.empAge = row.empAge;
                this.changeEmployee.empTime = row.empTime;
                this.changeEmployee.empId = row.empId;
                // console.log(row);
                const _this = this;
                axios({
                    url: `${_this.url}/emp/getEmpPostAndTitle`,
                    method: 'get',
                }).then(function (res) {
                    _this.postList = res.data.data.postList;
                    _this.titleList = res.data.data.titleList;
                    _this.changeEmployee.postId = _this.nameChangeId(row.postName, _this.postList);
                    _this.changeEmployee.titleId = _this.nameChangeId(row.titleName, _this.titleList);
                    _this.tableRow = JSON.parse(JSON.stringify(_this.changeEmployee));
                    // console.log(_this.changeEmployee);
                    _this.showEmployee = true;
                });
            },
            nameChangeId(name, list) {
                for (const item of list) {
                    if (item.label === name) return item.value;
                }
            },
            closeEmployeeDialog() {
                this.showEmployee = false;
            },
            employeeChange() {
                console.log(this.changeEmployee);
                const _this = this;
                axios({
                    url: `${_this.url}/emp/updateEmployeeInfo`,
                    method: 'post',
                    data: _this.changeEmployee
                }).then(function (res) {
                    const code = res.data.code;
                    if (code !== 1) {
                        _this.$message.success(res.data.msg);
                        _this.getAllEmployeeInfo(_this.currentPage);
                        _this.showEmployee = false;
                    } else {
                        _this.$message.error('修改失败!');
                    }
                });
            },
            employeeReset() {
                // console.log(this.tableRow);
                this.changeEmployee = JSON.parse(JSON.stringify(this.tableRow));
            },
            closeAddEmployeeDialog() {
                this.showAddEmployee = false;
                this.addEmployee.titleId = null;
                this.addEmployee.postId = null;
                this.addEmployee.empName = '';
                this.addEmployee.empSex = '';
                this.addEmployee.empAge = null;
                this.addEmployee.empTime = '';
            },
            addEmployeeInfo(ref) {
                this.$refs[ref].validate((valid) => {
                    if (valid) {
                        console.log(this.addEmployee);
                        const _this = this;
                        axios({
                            url: `${_this.url}/emp/add`,
                            method: 'post',
                            data: _this.addEmployee,
                        }).then(function (res) {
                            const code = res.data.code;
                            if (code !== 1) {
                                _this.$message.success("添加成功!");
                                _this.getAllEmployeeInfo(_this.currentPage);
                                _this.closeAddEmployeeDialog();
                            } else {
                                _this.$message.error("添加失败捏 好像有bUG");
                            }
                        });
                    } else {
                        return false;
                    }
                });
            },
            addEmployeeDialog() {
                const _this = this;
                axios({
                    url: `${_this.url}/emp/getEmpPostAndTitle`,
                    method: 'get',
                }).then(function (res) {
                    _this.postList = res.data.data.postList;
                    _this.titleList = res.data.data.titleList;
                    _this.showAddEmployee = true;
                });
            },
            getAllKqInfo(currentPage) {
                this.index = 5;
                // this.changeButtonStatus=false;
                if (!currentPage) {
                    this.pageInit();
                }
                const _this = this;
                axios({
                    url: `${_this.url}/kq/queryAllKqInfo`,
                    method: 'get'
                }).then(function (res) {
                    _this.tableData = res.data.data.dataList;
                    _this.tableHead = res.data.data.headList;
                    if (_this.tableData.length === 0) {
                        _this.$message.warning("暂无数据!");
                    }
                });
            },
            deleteKq(row) {
                const _this = this;
                axios({
                    url: `${_this.url}/kq/del?id=${row.kqId}`,
                    method: 'get'
                }).then(function (res) {
                    const code = res.data.code
                    if (code !== 1) {
                        _this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                        _this.getAllEmployeeInfo(_this.currentPage);
                    } else {
                        _this.$message({
                            type: 'error',
                            message: '删除失败捏，有bug呢!'
                        });
                    }
                });
            },
            addKqClose() {
                this.addKqForm.empId = null;
                this.addKqForm.kyDate = '';
                this.addKqDialogShow = false;
            },
            adKq(ref) {
                this.$refs[ref].validate((valid) => {
                    if (valid) {
                        console.log(this.addKqForm);
                        const _this = this;
                        axios({
                            url: `${_this.url}/kq/add`,
                            method: 'post',
                            data: _this.addKqForm,
                        }).then(function (res) {
                            const code = res.data.code;
                            if (code !== 1) {
                                _this.$message.success("添加成功!");
                                _this.getAllKqInfo(_this.currentPage);
                                _this.addKqClose();
                            } else {
                                _this.$message.error("添加失败捏 好像有bUG");
                            }
                        });
                    } else {
                        return false;
                    }
                });
            },
            getAllSalary(currentPage) {
                this.index = 6;
                // this.changeButtonStatus=false;
                if (!currentPage) {
                    this.pageInit();
                }
                const _this = this;
                axios({
                    url: `${_this.url}/salary/queryAllSalaryInfo`,
                    method: 'get'
                }).then(function (res) {
                    _this.tableData = res.data.data.dataList;
                    _this.tableHead = res.data.data.headList;
                    if (_this.tableData.length === 0) {
                        _this.$message.warning("暂无数据!");
                    }
                });
            },
            deleteSalary(row) {
                const _this = this;
                axios({
                    url: `${_this.url}/salary/del?id=${row.salaryId}`,
                    method: 'get'
                }).then(function (res) {
                    const code = res.data.code
                    if (code !== 1) {
                        _this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                        _this.getAllSalary(_this.currentPage);
                    } else {
                        _this.$message({
                            type: 'error',
                            message: '删除失败捏，有bug呢!'
                        });
                    }
                });
            },
            addSalaryClose() {
                this.addSalaryForm.empId = '';
                this.addSalaryForm.kqId = '';
                this.addSalaryDialogShow = false;
            },
            addSalary(ref) {
                this.$refs[ref].validate((valid) => {
                    if (valid) {
                        const _this = this;
                        axios({
                            url: `${_this.url}/salary/add`,
                            method: 'post',
                            data: _this.addSalaryForm,
                        }).then(function (res) {
                            const code = res.data.code;
                            if (code !== 1) {
                                _this.$message.success("添加成功!");
                                _this.getAllSalary(_this.currentPage);
                                _this.addSalaryClose();
                            } else {
                                _this.$message.error("添加失败捏 好像有bUG");
                            }
                        });
                    } else {
                        return false;
                    }
                });
            }
        }
    })
</script>
</body>
</html>