.mainContainer {
    height: 697px;
}

.mainHead {
    /*background-color: #64a4e8;*/
    text-align: right;
    font-size: 20px;
    line-height: 52px;
    border-bottom: 1px solid #64a4e8;
}

.mainAside {
    width: 300px;
    border-right: 1px solid #c4d2ec;
}
.mainMain {

}